body{
    font-family: ;
}
 
/* menu pc */

.header{
    background-color: rgb(0, 54, 104);
    padding: 15px 100px 10px 100px;
    color: white;
}

#plus:hover{
    background-color: rgb(28, 60, 135);
}

.search{
    margin-top: 7px;
    width: 28px;
}

.btn-search{
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right: 8%;
    padding-left: 30px;
}

.menu-site a{
    text-decoration: none;
    color: rgb(61, 60, 60);
 }

 /* menu mobile */

.menu-mobile{
    padding: 10px;
    display: inline-flex;
}

.search1{
    margin-top: 7px;
}

/* contenu main */

.main{
    background-color: rgb(116, 81, 235);
    margin-bottom: 20px;
}

#avenir{
    margin-top: 30px;
    max-width: 50%;
    background-color: rgb(0, 54, 104);
    margin-bottom: -5px;
    padding-left: 15px;
}

#h1{
    max-width: 55%;
    background-color: rgb(0, 54, 104);
    padding-left: 15px;
}

#p{
    margin-top: 25px;
}

figure{
    text-align: center;
}

#caption{
    width: 90%;
}

#fig{
    color: rgb(0, 54, 104);
}

#inv{
    width: 89%;
    font-size: 18px;
    float: right;
}

#inv a{
    color: rgb(43, 43, 43);
}
#inv a:hover{
    text-decoration: none;
}

.block{
    padding: 5% 5% 5% 0;
    margin-top: 5%;
    background-color: rgba(245, 245, 245, 0.781);
}

#form{
    width: 75%;
    margin-left: 11%;
    background-color: rgb(116, 81, 235);
}

#form-b{
    width: 70%;
    margin: 8% 0 5% 2.25%;
    background-color: rgb(116, 81, 235);
    display: none;
}

.btn{
    color: rgb(116, 81, 235);
    font-size: 14px;
}

.btn:hover{
    background-color: rgb(222, 213, 250);
    color: rgb(116, 81, 235);
}

.contact{
    margin-top: 10%;
    margin-bottom: 5%;
}

.oriente{
    margin-top: 3%;
}

.oriente strong{
    font-size: 24px;
}

.img-svg{
    margin-left: 60px;
}

.block1{
    display: block;
}

.vertical-line{
    border-left: 1px solid rgb(231, 221, 221);
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.aide{
    display: inline-flex;
    margin-left: 20px;
}

select{
    border: none;
    border-bottom: 1px solid rgb(97, 97, 97);
    width: 250px
}

.img-lang{
    margin-bottom: 40px;
}

#faq{
    margin-top: 15px;
}

#icon{
    border: 1px solid;
    border-radius: 100%;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 45px;
}

/* .facebook:hover{
    background: url("images/icons8-facebook-f-24\ \(1\).png");
    background: rgb(24, 119, 242);
} */

.nav-pc a{
    color: rgb(90, 90, 90);
}

hr{
    margin-bottom: 20px;
}

#open{
    color: rgb(13, 101, 184);
    margin-left: 12px;
}

.classrooms{
    margin-left: 50px;
}

#aide{
    color: rgb(13, 101, 184);
    margin-left: 12px;
    margin-top: 50px;
}

.pls{
    margin-top: 30px;
}

.link-16{
    display: inline-flex;
    flex-direction: row;
}

.flc{
    display: flex;
    margin-top: 15px;
}

#line{
    height: 35px;
}

.net{
    color: rgb(0, 54, 104);
    margin-top: 50px;
    margin-bottom: 30px;
}

.first{
    width: 43.5%;
    color: rgb(52, 80, 105);
}

.second{
    width: 43%;
    color: rgb(52, 80, 105);
}

.third{
    width: 43%;
    color: rgb(52, 80, 105);
}

.nav-mobile{
    margin-top: 70px;
}
#link-mobile{
    border: none;
    background-color: white;
    color: rgb(36, 87, 131);
    font-size: 14px;
}
.link{
    color: rgb(39, 38, 38);
    text-decoration: none;
}

@media only screen and (max-width: 950px) {
    .main{
        flex-direction: column-reverse;
    }
    #img_main{
        flex-direction: row;
        margin-inline-end: 30%;
        width: 55%;
    }
    #main2{
        flex-direction: row;
        margin-inline-start: 20%;
        margin-bottom: 5%;
    }
    #avenir{
        max-width: 40%;
    }
    #h1{
        max-width: 45%;
    }
    #p{
        width: 100%;
    }

    .figure{
        width: 100%;
        margin: auto;
    }

    .oriente{
        max-width: 50%;
        margin-left: 40px;
    }

    .entrep{
        margin-left: 50px;
    }

    .video{
        width: 650px;
        margin: auto;
    }

    .block{
        flex-direction: column-reverse;
    }
    #form{
        display: none;
    }
    #form-b{
        display: block;
    }

    #inv{
        float: left;
        font-size: 16px;
        margin-top: 20px;
    }
    #carousel{
        width: 90%;
        margin: auto;
        margin-top: 10px;
        font-size: 18px;
    }
    .d-block{
        width: 100%;
        margin-left: 0;
        margin-right: 10px;
    }
    .img-svg{
        width: 40%;
        margin: 0;
    }
    .img-cont{
        width: 100%;
        text-align: center;
    }
    .oriente{
        max-width: 100%;
        margin: 0;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 568px){
    .nav-pc{
        display: none;
    }
    .menu-site{
        display: none;
    }
    .header{
        display: none;
    }
    .figure-img{
        width: 35%;
    }
    .figure-caption{
        font-size: 14px;
    }
    #niv{
        float: left;
    }
}

@media only screen and (min-width: 568px){
    .nav-mobile{
        display: none;
    }
    .menu-mobile{
        display: none;
    }
}

@media only screen and (max-width: 360px){
    #img_main{
        flex-direction: row;
        margin-inline-end: 10%;
        width: 75%;
    }
    #main2{
        margin-inline-start: 10%;
        margin-bottom: 5%;
    }
    #avenir{
        max-width: 58%;
    }
    #h1{
        max-width: 63%;
    }
    #p{
        width: 100%;
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px){
    #img_main{
        flex-direction: row;
        margin-inline-end: 10%;
        width: 75%;
    }
    #main2{
        margin-inline-start: 10%;
        margin-bottom: 5%;
    }
    #avenir{
        max-width: 60%;
    }
    #h1{
        max-width: 65%;
    }
    #p{
        width: 100%;
        font-size: 14px;
    }
}



